<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stock Market Prediction</title>
    <style>
      body {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      h1, p, button {
        text-align: center;
      }
      button {
        margin-top: 20px;
        font-size: 20px;
        padding: 10px 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Stock Market Prediction</h1>
      <p>Welcome to our stock market prediction website! Investing in the stock market can be a great way to grow your wealth over time, but it can also be risky if you don't know what you're doing. Our website uses machine learning algorithms to predict stock prices and help you make informed investment decisions.</p>
      <p>Before you start investing, it's important to do your research and understand the risks involved. We recommend that you analyse each stock on this platform and only invest money that you can afford to lose.</p>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <a href="/ticker"><button>Explore Ticker Data</button></a>
      </div>
    </div>
  </body>
</html>
