<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock View</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-size: 20px;
        }
        h3 {
            font-size: 40px;
        }
        img {
            max-width: 80%;
            height: auto;
        }
    </style>
</head>
<body>
    <center><h2>STOCK VIEW</h2></center>
    <center>
        <h3>Estimated Forecast</h3>
        <img src="{{ img_data }}">
        <h3>Future Prediction</h3>
        <img src="{{ img_data1 }}">
        <h3>Prediction using multiple Data Sources</h3>
        <img src="{{ img_data2 }}">
    </center>
</body>
</html>